@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.qr {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  padding: 25px;
}

.qr-container {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}
.qr-img {
  width: 100%;
  border-radius: 10px;
}
.qr-title {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  width: 275px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 27.72px;
}
.qr-desc {
  font-size: 15px;
  color: #7d889e;
  letter-spacing: 0.1875px;
  line-height: 19px;
  text-align: center;
  padding: 0px 16px;
  font-weight: 400;
}
