@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

.newsHome {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
  overflow-x: hidden;
  position: relative;
}

.newsHomeWrapper {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

@media only screen and (max-width: 1100px) {
  .newsHomeWrapper {
    padding: 0px 25px;
  }
}
@media only screen and (max-width: 800px) {
  .newsHomeWrapper {
    padding: 0px 15px;
  }
}
