@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.fourCards {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 80px 20px;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourCards-title {
  font-size: max(20px, 5vw);
  font-weight: 200;
  text-align: center;
  color: hsl(234, 12%, 34%);
}

.fourCards-title:last-of-type {
  font-weight: 600;
}

.fourCards-desc {
  margin: 20px 0px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: hsl(229, 6%, 66%);
  width: 300px;
}

.fourCards-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
}

.fourCards-card-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 350px;
  /* use margin bottom for mobile cuz gap dont work  */
  margin-bottom: 20px;
}

.fourCards-cyan {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.fourCards-red {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.fourCards-orange {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.fourCards-blue {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.fourCards-card-item-title {
  font-size: 18px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.fourCards-card-item-desc {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0px;
  margin-bottom: 40px;
}

.fourCards-card-item-img {
  align-self: flex-end;
}

.fourCards-cards-center {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

@media only screen and (min-width: 700px) {
  .fourCards {
    padding: 40px 20px;
  }
  .fourCards-cards-container {
    flex-direction: row;
  }

  .fourCards-title {
    font-size: 40px;
  }

  .fourCards-desc {
    margin-bottom: 80px;
    font-size: 16px;
    width: 550px;
  }

  .fourCards-cards-center {
    margin: 0px 20px;
  }
}
