@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

/* ### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */

.sunnySide {
  min-height: 100vh;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  font-size: 18px;

  background-color: hsl(7, 99%, 70%);
  background-color: hsl(51, 100%, 49%);
  background-color: hsl(167, 40%, 24%);
  background-color: hsl(198, 62%, 26%);
  background-color: hsl(168, 34%, 41%);

  background-color: hsl(212, 27%, 19%);
  background-color: hsl(213, 9%, 39%);
  background-color: hsl(232, 10%, 55%);
  background-color: hsl(210, 4%, 67%);

  background-color: #f2f2f2;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
