@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.profile-card-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;

  background: url(./assets/images/bg-pattern-top.svg),
    url(./assets/images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
}

.profile-card-main {
  color: hsl(229, 23%, 23%);
  font-size: 1em;
  width: 100%;
  max-width: 19.44444444em;
  background-color: white;
  border-radius: 0.88888889em;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* TOP  */

.profile-card-header {
  background: url("./assets/images/bg-pattern-card.svg");
  background-size: contain;
  padding: 4.86133333em 1.77777778em 1.28888889em;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
}
.profile-card-header-body {
  display: grid;
  place-items: center;
  width: 100%;
  overflow: hidden;
}
.profile-card-header-body > img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid hsl(0deg, 0%, 100%);
}

.profile-card-bio {
  margin: 1.11111111em 0.22222222em 0.4em 0px;
  overflow: hidden;
}

.profile-card-name {
  font-size: 1em;
  letter-spacing: 0.02666667em;
  font-weight: 700;
  line-height: 1.5em;
}

.profile-card-age {
  font-size: 1em;
  margin-left: 0.44444444em;
  font-weight: normal;
  color: hsl(227deg, 10%, 46%);
}

.profile-card-location {
  font-size: 0.72222222em;
  color: hsl(227, 10%, 46%);
  width: 100%;
  text-align: center;
}
/* BOTTOM  */

.profile-card-stats {
  list-style-type: none;
  display: flex;
  border-top: 0.063rem solid hsl(0deg, 0%, 80%);
  padding: 1.333em 1.2em;
  justify-content: space-around;
}

.profile-card-stat-item {
  text-align: center;
  flex: 1 1;
  color: hsl(0, 0%, 59%);
  max-width: max-content;
}

.profile-card-stat-item > span {
  color: hsl(0deg, 0%, 0%);
  font-size: 1em;
  font-weight: 700;
}
.profile-card-stat-item > p {
  font-size: 0.644em;
  letter-spacing: 2.096px;
  color: hsl(227deg, 10%, 46%);
}
