@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

.stats-preview-main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Inter", sans-serif;
  background: hsl(233, 47%, 7%);
  padding: 1.333em;
}
/* CARD  */
.stats-preview-card {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.533em;
  overflow: hidden;
  max-width: 74em;
}

/* LEFT  */

.stats-preview-left {
  padding: 4.733em 4.767em 3.933em 4.733em;
}
.stats-preview-left > h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2.4em;
  line-height: 43.92px;
  font-weight: 700;
  overflow: hidden;
}
.stats-preview-left > h2 > span {
  color: hsl(277, 64%, 61%);
}
.stats-preview-left > p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1em;
  line-height: 1.67em;
  max-width: 25em;
  margin-top: 1.667em;
  overflow: hidden;
}

/* STATS LIST  */

.stats-preview-stats {
  display: flex;
  margin-top: 2.917em;
  line-height: 1.33em;
  gap: 2.5em;
  justify-content: flex-start;
  font-size: 1.6em;
}

.stats-preview-stat {
}

.stats-preview-stat:first-of-type {
  margin-right: 0.2083em;
}
.stats-preview-stat > span {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  font-weight: 700;
  line-height: 0.67em;
}
.stats-preview-stat > p {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 0.5em;
  line-height: 1.33em;
  letter-spacing: 0.08em;
  margin-top: 0.5em;
}

/* RIGHT  */

.stats-preview-right {
  max-width: 539.7px;
  width: 100%;
  background-color: hsl(277, 64%, 61%);
}
.stats-preview-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.75;
  display: block;
}

/* TABLET / MOBILE  */

@media only screen and (max-width: 11000px) {
  .stats-preview-right {
    max-height: unset;
  }
}

@media only screen and (max-width: 800px) {
  .stats-preview-main {
    padding: 2.4em 1.333em;
  }

  .stats-preview-card {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .stats-preview-right {
    overflow: hidden;
    max-width: unset;
    max-height: 500px;
  }

  .stats-preview-left {
    text-align: center;
  }

  .stats-preview-left > p {
    margin: 0 auto;
    margin-top: 1.67em;
  }

  .stats-preview-stats {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
