.signup-dialog {
  position: relative;
  z-index: 50;
}

.signup-dialog-panel-outside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  margin: 1rem;
}

.signup-dialog-panel-wrapper {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.signup-dialog-panel {
  left: 50%;
  top: 50%;
  position: absolute;
  width: 100%;
  max-width: 28rem;
  overflow: hidden;
  border-radius: calc((10 / 16) * 1rem);
  background-color: rgb(241, 241, 241);
  padding: 1.5rem;
  text-align: left;
  vertical-align: middle;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-family: "Mulish", sans-serif;
  font-size: calc((24 / 16) * 1rem);

  color: #00070d;
}

.signup-dialog-panel h3 {
  color: #00070d;
  font-weight: 500;
  margin-bottom: calc((10 / 16) * 1rem);
}

.signup-dialog-panel p {
  font-size: 1rem;
  margin-bottom: calc((20 / 16) * 1rem);
  opacity: 0.75;
}

.signup-dialog-panel button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  background-color: #00070d;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  font-family: "Mulish", sans-serif;
}

.signup-dialog-panel button:hover {
  background-color: #133252;
}

.signup-dialog-panel button:active {
  background-color: #133252;
}

.signup-dialog-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ANIMATION  */

/* Easings */
.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* TRANSITION CLASSES */
.enter {
  transition: all 400ms cubic-bezier(0, 0, 0.2, 1);
}

.enter-from {
  opacity: 0;
}

.enter-to {
  opacity: 1;
  transform: scale(1);
}

.leave {
  transition: all 400ms cubic-bezier(0.4, 0, 1, 1);
}

.leave-from {
  opacity: 1;
}

.leave-to {
  opacity: 0;
}

.enter2 {
  transition: all 400ms cubic-bezier(0, 0, 0.2, 1);
}

.enter-from2 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}

.enter-to2 {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.leave2 {
  transition: all 400ms cubic-bezier(0.4, 0, 1, 1);
}

.leave-from2 {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.leave-to2 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}
