/* FILTERS  */

.todo-filters {
}
.todo-filter-btn,
.todo-clear-btn {
  font-size: 0.8em;
  background: transparent;
  color: var(--todo-inactive-color);
  border: none;
  cursor: pointer;
  transition: var(--todo-transition);
  margin-right: 10px;
}

.todo-filter-btn:hover,
.todo-clear-btn:hover {
  color: var(--todo-color-hover);
}

.todo-filter-btn:first-of-type {
  color: var(--todo-Bright-Blue);
}

.todo-filter-btn:first-of-type:hover {
  color: hsl(220, 95%, 75%);
}

@media only screen and (max-width: 600px) {
  .todo-filters {
    position: absolute;
    bottom: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--todo-task-bg);
    box-shadow: var(--todo-box-shadow);
  }
}
