@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --main-app-primary: #222222;
  --main-app-bg: #f2f2f2;
  --main-secondary: #222222;
  --main-app-hover: #222222;
}

.app-main-home {
  min-height: 100vh;
  overflow: hidden;
  padding: 0px 80px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: var(--main-app-primary);
  background-color: var(--main-app-bg);
  position: relative;
}

.bi-list {
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 32px;
}

.app-main-left-deco {
  position: absolute;
  bottom: 0px;
  left: -20px;
  font-weight: 700;
  font-size: 150px;
  opacity: 0.1;
  line-height: 0.65;
}

.app-main-left,
.app-main-right {
  flex: 1;
}

.app-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-main-title {
  font-size: 6vw;
  margin-bottom: 40px;
}

.app-main-title-front-span {
  position: relative;
  color: var(--main-app-bg);
  z-index: 1;
}

.app-main-title-front-span::before {
  content: "";
  /* background: linear-gradient(to right, #e4707017, #e47070); */
  background: linear-gradient(to right, var(--main-app-bg), #222222);
  background: #222222;
  /* background-color: #e47070; */
  position: absolute;
  height: 100%;
  width: 30vw;
  right: -2px;
  z-index: -1;
}

.app-main-home-desc {
  font-size: 2.25vw;
  line-height: 1.5;
}

.app-main-home-desc a {
  text-decoration: none;
}

.app-main-span {
  font-weight: 700;
  color: var(--main-secondary);
  transition: all 0.2s ease-in-out;
}

.app-main-span:hover {
  cursor: pointer;
  color: var(--main-app-hover);
}

.app-main-home-contact {
  margin-top: 40px;
  font-size: 1.5vw;
  color: var(--main-secondary);
  text-decoration: none;
}

.app-main-right {
  display: flex;
}

.app-main-item {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.app-main-item:last-of-type {
  justify-content: flex-end;
}

.app-main-item-img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(0.5);
  transition: all 0.2s ease-in-out;
}

.app-main-item:hover .app-main-item-img {
  opacity: 1;
  filter: grayscale(0);
}
.app-main-item-title {
  font-size: 24px;
  margin: 15px 0px;
  font-weight: 600;
}

.app-main-item-desc {
  margin: 0px 0px;
  font-weight: 300;
}

.app-main-item-btn {
  width: max-content;
  border: none;
  font-size: 16px;
  background-color: transparent;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  border-left: 3px solid var(--main-secondary);
  font-weight: 600;
  color: var(--main-secondary);
}

.app-main-item-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: var(--main-secondary);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.app-main-item-btn:hover {
  color: var(--main-app-bg);
}
.app-main-item-btn:hover::before {
  width: 100%;
}

.bi-arrow-right {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.app-main-item-btn:hover .bi-arrow-right {
  margin-left: 15px;
}

@media only screen and (max-width: 1000px) {
  .app-main-home {
    flex-direction: column;
    min-height: 100vh;
    overflow: visible;
    padding: 20px;
  }

  .bi-list {
    display: none;
  }

  .app-main-left {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .app-main-title {
    font-size: 32px;
  }

  .app-main-home-desc {
    font-size: 16px;
  }

  .app-main-home-contact {
    padding: 0;
    margin: 10px;
    font-size: 14px;
  }

  .app-main-left-deco {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .app-main-left,
  .app-main-right {
    flex-direction: column;

    height: 100%;
  }

  .app-main-left {
    margin-bottom: 20px;
  }

  .app-main-item-img:last-of-type {
    order: 0;
  }

  .ordr2 {
    order: 1;
  }

  .ordr3 {
    order: 2;
  }

  .ordr4 {
    order: 3;
  }
}
