@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.card {
  border: 1px solid #5770b32e;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: auto;
}

.card > img {
  transition: all 0.4s ease-in-out;
  max-height: 200px;
  object-fit: cover;
}

.card:hover > img {
  transform: scale(1.05);
}

.app-main-components-card-title {
  padding: 0px 20px;
  margin-top: 20px;
}

.app-main-components-card-desc > p {
  margin: 20px 0;
  padding: 0px 20px;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;
}

.app-main-components-card-link {
  padding: 0px 20px;
}
