/* RIPPLE  */

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: hsl(245, 92%, 95%);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
