/* HAMBURGER  */

.product-page-nav-toggle {
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 18px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  margin-top: 3px;
  margin-right: 15px;
  z-index: 1000;
}

.product-page-nav-toggle-hamburger {
  width: 18px;
  height: 3px;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  display: block;
  position: absolute;
  background-color: hsl(219, 9%, 45%);
}

.product-page-nav-toggle-hamburger::before,
.product-page-nav-toggle-hamburger::after {
  content: "";
  position: absolute;
  display: block;

  width: 18px;
  height: 3px;

  background-color: hsl(219, 9%, 45%);
}

.product-page-nav-toggle-hamburger::before {
  top: -7px;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.product-page-nav-toggle-hamburger::after {
  bottom: -7px;
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* HAMBURGER ACTIVE  */

.product-page-nav-toggle-hamburger-active {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product-page-nav-toggle-hamburger-active::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.product-page-nav-toggle-hamburger-active::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 800px) {
  .product-page-nav-toggle {
    display: flex;
  }
}
