@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --fz-quote: 28px;
}

.advice-generator {
  font-family: 'Manrope', sans-serif;
  background: var(--dark-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}
