.multi-step-form-section {
  padding: 30px 80px 15px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .multi-step-form-section {
    padding: 30px 30px 15px;
  }
}
@media only screen and (max-width: 700px) {
  .multi-step-form-section {
    background: white;
    margin: -75px 15px 120px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
