@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"),
    url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"),
    url("./fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"),
    url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  top: -99999px;
  right: -999999px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
