*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  top: -99999px;
  right: -999999px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
