.coffee-hero {
  background: url("../assets/images/home/desktop/image-hero-coffeepress.jpg");
  background-size: cover;
  padding: 115px 80px;
  border-radius: 10px;
  margin-bottom: 200px;
}

.coffee-hero-title {
  font-family: "Fraunces", serif;
  color: #fefcf7;
  font-size: 55px;
  max-width: 400px;
  font-weight: 900;
  margin-bottom: 40px;
}

.coffee-hero-subtitle {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  opacity: 0.75;
  font-size: 16px;
  max-width: 400px;
  line-height: 30px;
  margin-bottom: 50px;
}

.coffee-hero-cta {
  background-color: #0e8784;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Fraunces", serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.coffee-hero-cta:hover {
  background-color: #66d2cf;
}

@media only screen and (max-width: 1200px) {
  .coffee-hero {
    background: url("../assets/images/home/tablet/image-hero-coffeepress.jpg");
    background-size: cover;
    padding: 80px 40px;
    margin-bottom: 120px;
  }

  .coffee-hero-title {
    font-size: 48px;
    line-height: 48px;
  }

  .coffee-hero-subtitle {
    font-size: 15px;
    max-width: 400px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 735px) {
  .coffee-hero {
    background: url("../assets/images/home/mobile/image-hero-coffeepress.jpg");
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
  }

  .coffee-hero-title {
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 300px;
  }

  .coffee-hero-subtitle {
    font-size: 15px;
    max-width: 400px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .coffee-hero-title {
    font-size: 30px;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 250px;
  }

  .coffee-hero-subtitle {
    font-size: 14px;
    max-width: 300px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 350px) {
  .coffee-hero-title {
    font-size: 26px;
  }

  .coffee-hero-subtitle {
    font-size: 13px;
  }
}
